/**************************************
******************** Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Lobster);
/**************************************
******************** Basic css
*/
body.grid {
  height: 100%;
  background-color: #cecece;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
.star {
  cursor: pointer;
}
.message-box-50 {
  margin: 20px 0;
  min-height: 50vh;
}

/*****************************************************
********************* Loged
*/
.menu.loged {
  background-color: #000 !important;
}

/*****************************************************
********************* Content
*/
.landing {
  background: url("../img/bgnoturno.jpg") center #000 no-repeat !important;
  background-size: cover;
  -webkit-background-size: cover; /* SAFARI / CHROME */
  -moz-background-size: cover; /* FIREFOX */
  -ms-background-size: cover; /* IE */
  -o-background-size: cover; /* OPERA */
}
.landing.segment {
  min-height: 680px;
  padding: 0em 0em;
}
.transbg {
  min-height: 680px;
  background: rgba(0, 0, 0, 0.3);
}
.menu {
  border: 0px !important;
}
.landing  h1.ui.header {
  margin-top: 4.2em;
  margin-bottom: 0.11em;
  font-weight: 100;
}
.findbg {
  padding: 1em 1.5em;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.secondary.pointing.menu .toc.item {
  display: none;
}

/* media screen 767 */
@media only screen and (max-width: 767px) {
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu{
      display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .five.wide.column.stars {
    width: 100% !important;
  }

}

/* login */
.login {
  margin: 0 auto;
  padding-top: 200px;
  max-width: 450px;
  text-align: center;
}
#gosignup, #goabout{
  margin: 100px auto 100px auto;
}

.division .line{
  color: #4B0082;
  background-color: #4B0082;
  width: 100px;
  height: 2px;
  border: 0;
}
.dotted {
  background-color: transparent !important;
  border-top: 1px dashed #4B0082 !important; 
} 
h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 3em;
}
h4 {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}
#clear {
  clear: both;
}

/* column enquets */
.ui.container .one-column-custom {
  width: 350px !important;
}

/* footer */
footer {
  background-color: #263238 !important;
  color: #fff;
  padding: 100px !important;
}
footer .footerlogo {
  width: 40px !important;
  height: 40px !important;
}

.cardsurvey {
  max-width: 260px !important;
}

/****************************************************
************************ Menu
*/
.welcome-menu {
  background-color: #9c27b0 !important;
}

/*****************************************************
*********************** Page Administrative
*/
.adm {
  min-height: 51.5vh;
}
.description {
  margin: 20px;
}
#new-survey {
  margin-bottom: 14px;
}
.content.active {
  background-color: #fff;
}
.form-excel {
  float: right;
}

/****************************************************
****** Codepen: http://codepen.io/NilsWe/pen/FemfK
*/

.timeline li {
  position: relative;
  display: ;
  float: left;
  width: 130px;
  top: -5px;
 }

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  height: 150px;
}

.timeline:before {
  position: absolute;
  top: 50%;
  content: ' ';
  display: block;
  height: 6px;
  width: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

/* media 715px */
@media only screen and (max-width: 715px) {
  .timeline:before {
    display: none !important;
  }
  .timeline {
    width: 100% !important;
    display: block !important;
    height: 400px !important;
  }
  .timeline li:before {
    display: none !important;
  }
  .timeline li {
    display: list-item !important;
    list-style: none !important; 
  }
}




.timeline li span {
  display: inline-block;
  /*margin-top: 30px;*/
  /*position: relative;*/
  /*width: 150px;*/
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 80px;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 600;
  text-align: left;
}

.time-wrapper {
  display: inline; 
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.timeline li::before {
  content: " ";
  position: absolute;
  top: 63px;
  left: 55px;
  border: 3px solid #505050;
  border-radius: 15px;
  width: 12px;
  height: 12px;
  background: #F0F0F0;
}

.desc {
  padding-top: 30px;
  position: absolute;
  left: 40px;
  font-weight: bold;
}

/**************************************
**************** change-password
*/
.change-password {
  margin-top: 43px;
  min-height: 50vh;
}