<!-- basic modal -->
<div class="ui generate modal">
  	<i class="close icon"></i>
	<div class="header generate-modal-header">Header</div>
	<div class="content generate-modal-content">
		<!-- <form action="" method="POST" role="form" class="ui generate form ingredients"> -->
			<!-- content here -->
			<div id="generate-modal-content"></div>
			<div class="actions">
				<div class="ui right aligned basic segment">
					<div class="ui buttons">
					  <button class="ui black deny button">Cancelar</button>
					  <div class="or" data-text="ou"></div>
					  <button type="submit" class="ui positive right labeled icon button save">Salvar<i class="checkmark icon"></i></button>
					</div>
				</div>
			</div>
		<!-- </form> -->
	</div>
</div>