<!-- poll questions -->
<div class="ui basic modal">
	<div class="header">
	</div>
	<div class="content">
		<div class="description">
			<form action="ui form" method="GET">
				<div class="ui grid" id="perguntas">
				</div>
			</form>
		</div>
	</div>
	<div class="actions">
		<div class="ui approve button" name="save">
			<i class="checkmark icon"></i>
			Finalizar
		</div>
	</div>
</div> 